@model Models.Food

@{
    ViewBag.Title = "食谱详情页";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div id="wp" class="wp">
    <div id="wp1">

        <div id="tiezi" class="wp cl">
            <div id="postlist" class="pl bm">
                <h1 class="ts" id="thread_subject">
                   @Model.FoodName
                </h1>
                <div style="display:none"><img id="thread-cover" alt="" title="" src=""></div>
                <table id="pid49248" class="plhin" summary="pid49248" cellspacing="0" cellpadding="0">
                    <tbody>
                        <tr>
                            <td class="pls" rowspan="2">
                                <div id="favatar49248" class="pls favatar">
                                    <div class="pi">
                                        <div class="avatar"><a href="http://www.tumi365.com/home.php?&#10;&#10;mod=space&amp;uid=4" class="avtm" target="_blank"><img src="http://www.tumi365.com/uc_server/avatar.php?uid=4&amp;size=middle"></a></div>
                                    </div>
                                    <div class="p_pop blk bui card_gender_0" id="userinfo49248" style="display: none; margin-top: -11px;">
                                        <div class="m z">
                                            <div id="userinfo49248_ma"></div>
                                        </div>
                                        <div class="i y">
                                            <div>
                                                <strong><a href="http://www.tumi365.com/user/4.html" target="_blank" class="xi2">@Model.Users</a></strong>
                                                <em>当前离线</em>
                                            </div><dl class="cl">
                                                <dt></dt>
                                                <dd></dd>
                                            </dl><div class="imicn">
                                                <a href="http://" target="_blank" title="查看个人网站"><img src="static/image/common/forumlink.gif" alt="查看个人网站"></a><a href="http://www.tumi365.com/home.php?mod=space&amp;uid=4&amp;do=profile" target="_blank" title="查看详细资料"><img src="static/image/common/userinfo.gif" alt="查看详细资料"></a>
                                            </div>
                                            <div id="avatarfeed"><span id="threadsortswait"></span></div>
                                        </div>
                                    </div>
                                    <div>
                                    </div>






                                    <dl class="pil cl">
                                        <dt></dt>
                                        <dd></dd>
                                    </dl>

                                    <dl class="pil cl"></dl><ul class="xl xl2 o cl" style="display:none">
                                        <li class="pm2"><a href="http://www.tumi365.com/home.php?mod=spacecp&amp;ac=pm&amp;op=showmsg&amp;handlekey=showmsg_4&amp;touid=4&amp;pmid=0&amp;daterange=2&amp;pid=49248&amp;tid=5032" onclick="showWindow('sendpm', this.href);" title="发消息" class="xi2">发消息</a></li>
                                    </ul>
                                </div>
                            </td>

                            <td class="plc">
                                <div class="pi">
                                    <div class="pti">
                                        <div class="pdbt">
                                        </div>
                                        <div class="title-1">

                                            <div id="catalog">
                                                <a href="#">首页</a>
                                                <em>&gt;</em>
                                                <a href="#" target="_blank">菜谱大全</a><em>&gt;</em>
                                            </div>

                                            <div id="biaoqian">

                                                <a href="#" target="_blank">@Model.FoodCategory</a>
                                                <em>|</em>
                                               
                                            </div>
                                        </div>
                                        <div style="margin-top:6px;">
                                            <p class="title-time">发布 : <span >@Model.CTime</span></p>
                                            <div id="title-tm">
                                                <span class="views"><i></i>561</span>
                                                <span class="replies"><i></i>2</span>
                                                <span class="recommends"><i></i>54</span>
                                            </div>
                                        </div>


                                    </div>
                                </div><div class="pct">
                                    <style type="text/css">
                                        .pcb {
                                            margin-right: 0;
                                        }
                                    </style><div class="pcb">

                                        <div class="t_fsz">
                                            <table cellspacing="0" cellpadding="0">
                                                <tbody>
                                                    <tr>
                                                        <td class="t_f" id="postmessage_49248">
                                                            <span class="tz_p">
                                                               @Model.Notice<p style="height:5px;"></p>

                                                               
                                                                原料：<p style="height:5px;"></p>
                                                                <p style="height:5px;"></p>
                                                                @Model.yuanliao<p style="height:5px;"></p>
                                                                <p style="height:5px;"></p>
                                                                做法:<p style="height:5px;"></p>
                                                                <p style="height:5px;"></p>
                                                                @Model.Setp1<p style="height:5px;"></p>

                                                                </p><p class="simg">

                                                                    <img class="lazy" id="tumi_35041" data-original="@Model.Image1" src="http://www.tumi365.com/data/attachment/forum/201805/04/221403xxz4oaaauv3azam2.jpeg" alt="黑椒薯角，我最爱的吃法之一35041" style="display: block;">






                                                                <p style="height:5px;"></p>
                                                                @Model.Step2<p style="height:5px;"></p>

                                                                </p><p class="simg">

                                                                    <img class="lazy" id="tumi_35042" data-original="@Model.Image2" alt="黑椒薯角，我最爱的吃法之一35042" style="display: block;">






                                                                <p style="height:5px;"></p>
                                                              @Model.Step3<p style="height:5px;"></p>

                                                                </p><p class="simg">

                                                                    <img class="lazy" id="tumi_35043" data-original="@Model.Image3" src="static/image/common/none.gif" alt="黑椒薯角，我最爱的吃法之一35043">




                                                                <p style="height:5px;"></p>
                                                             
                                                            </span>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>




                                        </div>
                                        <div id="comment_49248" class="cm">
                                        </div>

                                        <div id="post_rate_div_49248"></div>
                                    </div>
                                </div>

                                <div id="title-f">
                                    <i id="copy-tips">声明：本栏目版权归文章原作者所有，相关分享仅供学习与交流</i>
                                    <div class="jubao">
                                        <a style="color: #cccccc;" href="javascript:;" onclick="showWindow('miscreport49248', 'misc.php?mod=report&amp;rtype=post&amp;rid=49248&amp;tid=5032&amp;fid=40', 'get', -1);return false;">[举报]</a>
                                    </div>
                                    <div id="ding1" class="mbm hm cl">
                                        <a href="http://www.tumi365.com/forum.php?mod=collection&amp;action=edit&amp;op=addthread&amp;tid=5032" id="k_collect" onclick="showWindow(this.id, this.href);return false;" onmouseover="this.title = $('collectionnumber').innerHTML + ' 人采集'" title="淘好帖进专辑" rel="nofollow"><i><span id="collectionnumber" style="display:none">0</span></i>采集</a>
                                        <a class="recommend_add" href="forum.php?mod=misc&amp;action=recommend&amp;do=add&amp;tid=5032&amp;hash=7324c522" onclick="showWindow('login', this.href)" onmouseover="this.title = $('recommendv_add').innerHTML + ' 人喜欢'" title="顶一下" rel="nofollow">
                                            <i style="display:none;"><span id="recommendv_add">54</span></i>喜欢
                                        </a>


                                    </div>

                                    <a src="javascript:;" id="tm-share">分享</a>
                                    <div id="share-cont" style="display:none">
                                        <div class="bdsharebuttonbox bdshare-button-style1-32" data-bd-bind="1525607446557">
                                            <div id="share-cl" class="flbc"></div>
                                            <a href="#" class="bds_tsina" data-cmd="tsina" title="分享到新浪微博">分享到新浪微博</a>
                                            <a href="#" class="bds_huaban" data-cmd="huaban" title="分享到花瓣"></a>
                                            <a href="#" class="bds_qzone" data-cmd="qzone" title="分享到QQ空间"></a>
                                            <a href="#" class="bds_douban" data-cmd="douban" title="分享到豆瓣网"></a>
                                            <a href="#" class="bds_weixin" data-cmd="weixin" title="分享到微信"></a>
                                            <a href="#" class="bds_sqq" data-cmd="sqq" title="分享到QQ好友"></a>
                                        </div>
                                        <script>

window._bd_share_config={"common":{"bdSnsKey":{},
"bdText":"",
"bdMini":"2","bdMiniList":false,
"bdPic":document.getElementById('postlist').getElementsByClassName('lazy')[0].getAttribute('data-original'),
"bdStyle":"1","bdSize":"32"},"share":{}};with(document)0[(getElementsByTagName('head')[0]||body).appendChild(createElement('script')).src='http://bdimg.share.baidu.com/static/api/js/share.js?v=89860593.js?cdnversion='+~(-new Date()/36e5)];</script>
                                    </div>

                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td class="plc plm"></td>
                        </tr>
                        <tr id="_postposition49248"></tr>
                        <tr>
                            <td class="pls"></td>
                            <td class="plc" style="overflow:visible;">
                                <div class="po hin">
                                    <div class="pob cl" style="float:left;">
                                        <em>
                                        </em>

                                        <p>
                                            <a href="javascript:;" id="mgc_post_49248" onmouseover="showMenu(this.id)" class="showmenu" style="display: none;"></a>
                                        </p>

                                        <ul id="mgc_post_49248_menu" class="p_pop mgcmn" style="display: none;"></ul>
                                        <script type="text/javascript" reload="1">checkmgcmn('post_49248')</script>
                                    </div>
                                </div>

                            </td>
                        </tr>
                    </tbody>
                </table>
                <script type="text/javascript" reload="1">
aimgcount[49248] = ['35041','35042','35043','35044','35045','35046','35047'];
attachimggroup(49248);
attachimgshow(49248);
var aimgfid = 0;
                </script>

            </div>

            
            <div id="hf" class="pl bm">
                <div id="fastpostmessage">
                    您需要登录后才可以回帖
                </div>
                
                <div>
                    @{ Html.RenderAction("FoodComs", "Home");}
                </div>
                

                <div id="postlistreply" class="pl"><div id="post_new" class="viewthread_table" style="display: none"></div></div>
            </div>
          



            <form method="post" autocomplete="off" name="modactions" id="modactions">
                <input type="hidden" name="formhash" value="7324c522">
                <input type="hidden" name="optgroup">
                <input type="hidden" name="operation">
                <input type="hidden" name="listextra" value="page%3D">
                <input type="hidden" name="page" value="1">
            </form>
        </div>


        <div id="tiezir">
            <div id="userjs">
                <div id="gxqm">
                    <div class="avatar"><a href="#" name="熊猫大吃货" class="avtm" target="_blank"><img src="http://www.tumi365.com/uc_server/avatar.php?uid=4&amp;size=middle"></a></div>
                    <div>
                        <div id="username">@Model.Users</div>
                        <a id="dengji" title="推荐美食家"> </a>
                    </div>
                    <div id="gxqm2">
                        吃好喝好就是开森的一天!
                    </div>
                </div>


                <div class="fhj">
                    <a id="fxshu1" href="home.php?mod=space&amp;uid=4&amp;do=thread&amp;view=me&amp;type=thread&amp;from=space"></a>
                    <div id="louzhu">
                        <ul class="ml waterfall cl" id="waterfall1" style="position: relative; width: 258px; height: 463.781px;">
                            <li class="pubuliu" style="position: absolute; left: 91px; top: 0px;">
                                <div class="c cl">
                                    <a class="z" title="" onclick="atarget(this)" href="#" target="_blank">
                                        <img class="lazy" alt="" src="data/attachment/forum/threadcover/a7/97/5032.jpg">
                                    </a>
                                </div>

                            </li>
                          
                        </ul>
                    </div>
                    <a id="ckmore" href="#" target="_blank">查看更多</a>
                </div>

            </div>

            <!--[diy=diy2]--><div id="diy2" class="area">
                <div id="frame2vOb1O" class="frame move-span cl frame-1">
                    <div id="frame2vOb1O_left" class="column frame-1-c">
                        <div id="frame2vOb1O_left_temp" class="move-span temp"></div><div id="portal_block_119" class="block move-span">
                            <div id="portal_block_119_content" class="dxb_bc">
                                <div id="diy_rw">
                                    <ul>
                                        <p>有食候推荐</p>
                                        <li><a class="change_color" href="#" title="" target="_blank">豆芽炒粉丝，美容养颜，消脂排毒，两天不吃</a></li>
                                        <li><a class="change_color" href="#" title="" target="_blank">藜麦瑶柱蚝干粥的做法，孩子吃补钙补锌</a></li>
                                        <li><a class="change_color" href="#" title="" target="_blank">豆豉烧鸡爪，鸡爪这样炖，下酒又下饭</a></li>
                                        <li><a class="change_color" href="#" title="" target="_blank">零食鸡米花的做法</a></li>
                                        <li><a class="change_color" href="#" title="" target="_blank">香蕉松饼的做法</a></li>
                                        <li><a class="change_color" href="#" title="" target="_blank">人气小吃锅巴土豆的做法</a></li>
                                        <li><a class="change_color" href="#" title="" target="_blank">芒果糯米糍的做法</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div><!--[/diy]-->
            <!--[diy=diy4]--><div id="diy4" class="area"></div><!--[/diy]-->

            <div id="collect"></div>

        </div>
        <div id="xianguantiezi" style="display:inline-block;">
        </div>
        <div class="wp mtn">
            <!--[diy=diy3]--><div id="diy3" class="area"></div><!--[/diy]-->
        </div>

    </div>
</div>